@inject Blocket.Services.UserService UserService
@{
    var isAdmin = await UserService.IsCurrentUserAdministratorAsync();
    var user = User;
    bool loggedIn = false;
    if (User.Identity != null)
    {
        loggedIn = User.Identity.IsAuthenticated;
    }
}

@functions {
    string IsActive(string controller, string action)
    {
        var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
        var currentAction = ViewContext.RouteData.Values["action"]?.ToString();

        return (currentController == controller && currentAction == action) ? "active" : "";
    }

    string IsActivePage(string page)
    {
        var currentPage = ViewContext.RouteData.Values["page"]?.ToString();
        return currentPage == page ? "active" : "";
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blocket</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body
    style="background-image: url('/images/christmas-market.jpg'); background-size: cover; background-position: center center; background-attachment: fixed; min-height: 100vh;" />
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">

            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">

                <img src="~/images/blucket-nobg.png" alt="Blocket" style="max-height: 40px;" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark @IsActive("Home", "Index")" asp-area="" asp-controller="Home"
                            asp-action="Index">Ditt
                            konto</a>
                    </li>
                    <li class="nav-item">
                        @if (loggedIn)
                        {
                            <a class="nav-link text-dark @IsActive("Article", "Create")" asp-area=""
                                asp-controller="Article" asp-action="Create">Ladda
                                upp annons</a>
                        }
                        else
                        {
                            <a class="nav-link text-dark @IsActive("Article", "Create")" asp-area="Identity"
                                asp-page="/Account/Login">Ladda
                                upp annons</a>
                        }
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark @IsActive("Article", "Index")" asp-area="" asp-controller="Article"
                            asp-action="Index">Annonser</a>
                    </li>
                    @if (isAdmin)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark @IsActive("User", "Index")" asp-area="" asp-controller="User"
                                asp-action="Index">Användarbas</a>
                        </li>
                    }

                    @if (!loggedIn)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark @IsActivePage("/Account/Login")" asp-area="Identity"
                                asp-page="/Account/Login">Logga in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark @IsActivePage("/Account/Register")" asp-area="Identity"
                                asp-page="/Account/Register">Registrera</a>
                        </li>
                    }
                    else
                    {
                        <li class="navitem">
                            <a class="nav-link text-dark @IsActivePage("/Account/Logout")" asp-area="Identity"
                                asp-page="/Account/Logout">Logga ut</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Blucket
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)


</html>
