@model ArticleIndexVm
@inject Blocket.Services.UserService UserService
@{
    var isAdmin = await UserService.IsCurrentUserAdministratorAsync();
}

<h1>Article Index!</h1>

<a asp-action="Create" class="btn btn-primary">Add Article</a>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                Published
            </th>
            @if (isAdmin)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var article in Model.Articles)
        {
            <tr>
                <td>
                    @if (isAdmin)
                    {
                        <a asp-action="Edit" asp-route-id="@article.Id">
                            @article.Name
                        </a>
                    }
                    else
                    {
                        @article.Name
                    }
                </td>
                <td>
                    @article.Description
                </td>
                <td>
                    @article.Price
                </td>
                <td>
                    @article.Published
                </td>

                @if (isAdmin)
                {
                    <td>
                        <a asp-action="Delete" asp-route-id="@article.Id" class="btn btn-danger">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>