@model ArticleIndexVm
@inject Blocket.Services.UserService UserService
@inject IHttpContextAccessor HttpContextAccessor
@{
    var isAdmin = await UserService.IsCurrentUserAdministratorAsync();
    var isUser = await UserService.IsUserAsync();
}

<div class="card shadow-sm rounded" style="min-height: 500px;">
    <div class="card-body">

        <h1 class="text-center mb-2">Postade artiklar</h1>
        <div class="d-flex justify-content-center mb-2">
            @if (isAdmin)
            {
                <a asp-action="Create" class="btn btn-primary">Lägg till en ny artikel</a>
            }
        </div>

        <div class="table-responsive">
            <table class="table mb-0">
                <thead>

                    <hr>
                    <tr>
                        <th style="padding-right: 5em;"></th>
                        <th style="width: 20%;">
                            Namn
                        </th>
                        <th style="width: 20%;">
                            Beskrivning
                        </th>
                        <th style="width: 20%;">
                            Pris
                        </th>
                        <th style="width: 20%;">
                            Uppladdad
                        </th>
                        @if (isAdmin)
                        {
                            <th></th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var article in Model.Articles)
                    {
                        <tr>
                            <td style="width: 5%;">
                                <img src="@article.ImageUrl" alt="Article Image" style="width: 100%;">
                            </td>
                            <td style="width: 18%;">
                                @if (isAdmin)
                                {
                                    <a asp-action="Edit" asp-route-id="@article.Id">
                                        @article.Name
                                    </a>
                                }
                                else
                                {
                                    <b>@article.Name</b>
                                }
                            </td>
                            <td style="width: 18%;">
                                @article.Description
                            </td>
                            <td style="width: 18%;">
                                @article.Price kr
                            </td>
                            <td style="width: 18%;">
                                @article.Published
                            </td>
                            @if (isAdmin)
                            {
                                <td style="width: 18%;">
                                    <a asp-action="Delete" asp-route-previous="article" asp-route-id="@article.Id"
                                        class="btn btn-danger">Radera</a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
