@model HomeIndexVm
@inject Blocket.Services.UserService UserService
@inject IHttpContextAccessor HttpContextAccessor
@{
    var isAdmin = await UserService.IsCurrentUserAdministratorAsync();
    var isUser = await UserService.IsUserAsync();
}

<div class="container mt-2">
    <h1 class="text-center mb-3">Dina upplagda artiklar</h1>

    @if (isAdmin || isUser)
    {
        <div class="text-center mb-4">
            <a asp-controller="Article" asp-action="Create" class="btn btn-primary">Lägg till artikel</a>
        </div>
    }

    <div class="card shadow-sm rounded">
        <div class="card-body">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th>Namn</th>
                        <th>Beskrivning</th>
                        <th>Pris</th>
                        <th>Uppladdad</th>
                        <th>Åtgärder</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var article in Model.Articles)
                    {
                        <tr>
                            <td><b>@article.Name</b></td>
                            <td>@article.Description</td>
                            <td>@article.Price</td>
                            <td>@article.Published</td>
                            <td>
                                <a asp-controller="Article" asp-action="Edit" asp-route-id="@article.Id"
                                    class="btn btn-primary btn-sm mr-2">Redigera</a>
                                <a asp-controller="Article" asp-action="Delete" asp-route-id="@article.Id"
                                    class="btn btn-danger btn-sm">Radera</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
